<mat-accordion *ngIf="cardsInDeck.length > 0">
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Deck
            </mat-panel-title>
            <mat-panel-description>
                Cards in Deck
            </mat-panel-description>
        </mat-expansion-panel-header>

        <span *ngFor="let card of cardsInDeck; let i = index">
                <img mat-card-image [src]="card.cardImageUrl" [alt]="card.cardName">
        </span>


        <!-- <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row> -->
    </mat-expansion-panel>
</mat-accordion>
