<h2>Rochester Draft</h2>

<app-draft-settings 
    (draftEvent)="startDraft($event)" 
    [draftHasStarted]="draftHasStarted"
    ></app-draft-settings>

<div class="main-div" *ngIf="draftHasStarted">
    <button mat-flat-button color="primary">
        {{ myTurn ? 'Player Turn' : 'CPU Turn' }}
    </button>
</div>

<span *ngIf="draft && draft.status === 'COMPLETED'">
    <h3>The draft has completed.</h3>
</span>

<app-rochester 
    [draft]="draft"
    (draftedCardsEvent)="draftCard($event)"
    ></app-rochester>

<app-drafted-cards
    [cardsDrafted]="cardsDrafted"
    ></app-drafted-cards>