<div class="main-div">
    <form [formGroup]="settingsForm" (ngSubmit)="addCards()">
            <mat-form-field>
                <mat-label>Deck Name:</mat-label>
                <input 
                    matInput
                    type="text" 
                    formControlName="deckName">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Set:</mat-label>
                <mat-select formControlName="set">
                    <mat-option 
                        *ngFor="let set of setArr" 
                        [value]="set"
                        >{{ set }}</mat-option>
                </mat-select>
            </mat-form-field>

            <button 
                mat-raised-button 
                color="primary" 
                type="submit">Add Cards</button>
                
            <button 
                mat-raised-button 
                color="warn" 
                type="button" (click)="saveDeck()">Save Deck</button>
    </form>
</div>
