<h2>Draft History</h2>

<div>
    <table>
        <thead>
            <th>Draft Set:</th>
            <th>Draft Date:</th>
            <th>No. of players:</th>
        </thead>
        <tbody>
            <tr *ngFor="let draft of drafts">
                <td>
                    {{ draft.draftSet }}
                </td>
                <td>
                    {{ draft.draftDate }}
                </td>
                <td>
                    {{ draft.numberOfPlayers }}
                </td>
            </tr>
        </tbody>
    </table>
</div>