<h2>Menu</h2>

<div class="main-div">
    <table>
        <tr>
            <button 
                type="button" 
                class="menu-select"
                mat-flat-button 
                [routerLink]="['/decks']"
                >Decks</button>
        </tr>
        <tr>
            <button 
                type="button" 
                class="menu-select"
                mat-flat-button 
                [routerLink]="['/playdraft']"
                >Rochester Draft</button>
        </tr>
        <tr>
            <button 
                type="button" 
                class="menu-select"
                mat-flat-button 
                [routerLink]="['/deckbuilder']"
                >Deck Builder</button>
        </tr>    
    </table>
</div>
