<h2>Deck Builder</h2>

<app-deck-builder-settings 
    [randomCardPoolGenerated]="randomCardPoolGenerated"
    (formEvent)="generateCardPool($event)"
    (saveEvent)="saveDeck($event)"></app-deck-builder-settings>

<app-card-pool 
    [cardsInPool]="cardsInPool" 
    (cardToAddToDeck)="addCardToDeck($event)"
    (indexToRemoveFromPool)="removeIndexFromPool($event)"
    ></app-card-pool>
    
<app-deck 
    [cardsInDeck]="cardsInDeck" 
    (cardToRemoveFromDeck)="removeCardFromDeck($event)"
    (indexToRemoveFromDeck)="removeIndexFromDeck($event)"
    ></app-deck>